<%= form_for(@follow) do |f| %>
  <% if @follow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@follow.errors.count, "error") %> prohibited this follow from being saved:</h2>

      <ul>
      <% @follow.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dancer_id %><br>
    <%= f.text_field :dancer_id %>
  </div>
  <div class="field">
    <%= f.label :follow_id %><br>
    <%= f.number_field :follow_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
