<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @music.name %>
</p>

<p>
  <strong>Bpm:</strong>
  <%= @music.bpm %>
</p>

<p>
  <strong>File:</strong>
  <%= @music.file %>
</p>

<%= link_to 'Edit', edit_music_path(@music) %> |
<%= link_to 'Back', musics_path %>
