<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @record.title %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @record.introduction %>
</p>

<p>
  <strong>Effect:</strong>
  <%= @record.effect %>
</p>

<p>
  <strong>Movie:</strong>
  <%= @record.movie %>
</p>

<p>
  <strong>Dancer:</strong>
  <%= @record.dancer %>
</p>

<p>
  <strong>Music:</strong>
  <%= @record.music %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
