<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<p>
  <strong>Record:</strong>
  <%= @comment.record %>
</p>

<p>
  <strong>Dancer:</strong>
  <%= @comment.dancer %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
